@import url('https://fonts.googleapis.com/css?family=Sofia|Trirong');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel__img {
  width: 100vw;
    height: 100vh;
    object-fit: cover;
   
  }

  .carousel__caption {
    
    position:absolute;
    z-index:12;
    top:0;
    left:0;
    
    
    background:rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  #teks{
    width:100%;
    top: 50%;
    color:#fff;
    text-align:center;
    position:relative;
    font-family: "Sofia", sans-serif;
    font-size: 150px;
  }
  
  @media (max-width: 800px){
    #teks{
      font-size: 100px;
    }
  }
  @media (max-width: 600px){
    #teks{
      font-size: 80px;
    }
  }
  @media (max-width: 400px){
    #teks{
      font-size: 50px;
    }
  }

  #teks-weeding{
    width:100%;
    top: 50%;
    color:#fff;
    text-align:center;
    position:relative;
    font-family: "Trirong", serif;
    font-size: 80px;
  }

  @media (max-width: 800px){
    #teks-weeding{
      font-size: 50px;
    }
  }
  @media (max-width: 600px){
    #teks-weeding{
      font-size: 40px;
    }
  }
  @media (max-width: 450px){
    #teks-weeding{
      font-size: 20px;
    }
  }
